@charset "UTF-8";

/*폰트*/
@font-face {
    font-family: 'LeferiPoint-WhiteObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
	 font-family: 'LeferiPoint-WhiteObliqueA';
}
.main_logo{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

h2{text-align:center;
	font-size:2rem;
	color:gray;
}

#notice-list,#product-review,#faq-list,#qna-list{
	background-color:#f0f0f0;
	border-radius:5px;  
	margin-left:15px;
	font-size:12pt;
	padding:11px 0 6px 12px ; 
	text-align:center;
	
	
}
#title-text2{
	margin-left:15px;
	
}
.header{width:100%;height:100%;}
.container{width:100%;height:100%;}
.footer1{width:100%;height:100%;}


/*notice list*/
.noticelist table{
		top:10px;
		width: 99%;
		border-top:1px solid #444444;
		border-collapse:collapse;
		float: center;
		min-width:500px;
	}

.noticelist th{
		background-color: #f0f0f0;
	 	padding: 10px;
		border:none;
	    border-top: 1px solid #444444;
	    border-bottom: 1px solid #444444;
		text-align:center;
}
.noticelist td{
		text-align: center;
		border:none;
	    border-bottom: 1px solid #444444;
	    padding: 10px;
	    
}
	
.short{
	font-size:18px;
	text-decoration: none;
	color: black;
}

.short a:hover { 
	text-decoration:none; color:#7F7F7F;
}
/* A태그 링크 클릭시 밑줄이나 링크글시 색깔 안바뀌도록 -

	a:link 클릭하지 않았을 때 링크 상태

    a:visited 한번 클릭했거나 들어가보았던 링크 상태

    a:active 링크 부분에서 마우스를 누르고 있는 상태

    a:hover 링크를 클릭하려고 마우스를 가져갔을 때 상태

    text-decoration -> underline; 밑줄, none; 밑줄 없음

*/

button{
	font-size:20px;
	background-color:none;
	color: black;
	margin-left: auto;
  	margin-right: auto;
  	border:0;
	
} 

#f_category{
	border-radius:5px;
	margin-left:18px;
	padding-top:8px;
}

/*accordion*/
.accordion{
	font-size:18px;
	width:700px;
	margin:auto;
}
.accordion-button {
	font-size:18px;
	 
}

/*qnamain에서 img table 간격띄움 */
.tableimg{
	border-collapse: separate;
	border-spacing:50px;
}

/*qnalist*/

.sort{
	border-collapse:collapse;
	border-spacing:0;
	margin-left:50px;
}
td{padding-left:25px;text-align:center;}
.form-select{
	text-align:center;
	width:90px;
	font-size:18px;
	font-weight:400;
	padding:7px 0 0 0;/*top right bottom left*/
	color:black;
	border: 1px solid #aaa;/*select 테두리색*/
	border-radius:0.5em;
	box-shadow: 0 1px 0 1px rgba(99, 82, 115, 0.04);
	
	
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	
}
select:hover {
  border-color: #888;
}

select:focus {
  border-color: #aaa;
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

select:disabled {
  opacity: 0.5;
}
#td{margin-left:20px;}
.search{width:238px;display:inline-block;}
.insearch{
	position: relative;
 	width: 200px;
  	height: 35px;
  	font-size:17px;
  	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
  	
}
.search-icon{
	background:#fff;
	float:right;
	border:none;
	width:38px;height:35px;top:20px; 
	color:black;
    font-size:21px;
	border: 1px;
	border-color:black;
 	border-radius:100%;
 	outline: 0;
	
} 
#categ{text-align:center;}
.wait, .end{
	background-color:#e3e3e3;
	color: black;
    width: 90px;
    height:30px;
    font-size:14px;
	border-radius: 6px;
	border: 1px;
	border-color:black;
 	outline: 0;
	padding:0 12px;
}
.qnabtn{
	background-color: #FFD228;
	color: black;
    width: 100px;
    height:40px;
    font-size:16px;
	border-radius: 6px;
	border: 0;
	border-color:grey;
 	outline: 0;
}

/*qnatable */
.tb1{position:relative;height:50%;}

table#qnatable{
	/* text-align:center;
	width:99%;height:40%;
 	border-collapse:collapse;테두리한줄로 정리
	border-spacing:20px 20px;td,th간의 여백설정
	margin-left:80px;
   */
   width:1500px;
	position:relative;
	width:100%;height:40%;
 	border-collapse:collapse;/*테두리한줄로 정리*/
	border-spacing:20px 20px;/*td,th간의 여백설정*/
	margin:20px;
}
th{
		
	background:#f0f0f0;
	border-top:1px solid #444;
	border-bottom:1px solid #444;
	text-align:center;
	padding:10px 25px;
	
}

td#qnatable{text-align:center;
	padding:10px;
	border-bottom:1px solid #444;
	
	
}

th#title_th{
	width:480px;
	/* padding:0 240px; */
}
