@charset "UTF-8";

/*폰트*/
@font-face {
    font-family: 'LeferiPoint-WhiteObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
	 font-family: 'LeferiPoint-WhiteObliqueA';
	 text-align:left;
}
body{margin-top:60px;}

/*공통적으로 쓰는 css*/
table{
	margin:auto;
	border-collapse:separate;
	border-spacing: 0 20px;
	
}

input {
	border-top:none;
    border-left:none;
    border-right:none;
    border: 1;
    border-color:#787878;
	outline: 0;
}


/*select*/

.form-select{
	
	width:125px;
	height:30px;
	font-size:16px;
	padding:3px ;
	color:black;
	
}
textarea{
	resize: none;
}
/*작성/돌아가기버튼*/
#fbtn{
	margin-left:43%
}
.insert{
	background-color: #FFD228;
	color: black;
	width: 120px;
	height:40px;
	font-size: 19px;
	font-weight: 700;
	border-radius: 6px;
	border: 0;
	border-color:grey;
	outline: 0;
	text-align:center;
}

.back{
	margin-left:20px;
	background-color: #F2F0F0;
	color: black;
	width: 120px;
	height:40px;
	font-size: 19px;
	font-weight: 700;
	border-radius: 6px;
	border: 0;
	border-color:grey;
	outline: 0;
	text-align:center;
}