@charset "UTF-8";


body{
	margin-top:60px;
	overflow:auto;
}

.main_logo{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

#topMenu{
	height:50px;
	width:1350px;
	margin-left:60px;
}
ul li:first-child{border-left:none;}
#topMenu ul li{
	display:inline;
	border-left:1px solid #fff;
	padding: 5px 10px 0 10px;
	margin:5px 0;
	list-style-type:none;
	color:white;
	background-color:#2d2d2d;
	float:left;/*li태그 들이 왼쪽에 흐르게설정(아래있는 내용은 오른쪽으로옴*/
	line-height:30px;/*글씨가 가운데로 오게 설정위해 한줄높이 30px 설정*/
	vertical-align:middle;/*세로정렬 가운데로 설정(line-height와 같이 설정필요)*/
	text-align:center;
}
.menuLink{
	text-decoration:none; /*topMenu 아이디를 가진 태그 안에있는menu클래스 태그들의 스타일 설정*/
	color:white;
	display:block;/*링크를 글씨가 있는 부분뿐아니라 전체 여역 클릭해서 링크 걸리도록설정*/
	width:135px;/*메뉴링크 넓이 설정*/
	font-size:15px;
	font-weight:bold;
}
.menuLink:hover{
	color:#e2e2e2;
	background-color:#4d4d4d;
}




table{
	width:90%; height:90%;
	border:1px solid gray; text-align:center;
	border:none;
	padding:15px;
	margin:auto;
	
	
	}
	
	
	
.main_logo{
/* 	margin-left:300px; */
	margin-bottom:30px;
	
}
.search-box{
	position:relative;
	float:right;
	margin-right:110px;
	margin-top:200px;
}
 input#search{
 	float:left;
	width:180px;height:35px;background:#f2eded; /*검색창 크기와 배경색*/
	border:none;font-size:11px;
	color:black;
	padding-left:13px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
} 
input#search:hover, input#search:focus, input#search:active{
	outline:none;
	background: #ffffff;
	border-style:solid;
}


.search-icon{
	border:none;
	height:35px;width:35px;top:20px; left:0;
	color:black;/*icon색*/
	font-size:12pt;
	background:#fff;
	
}

#search_detail{
	margin-left:120px;
	
}
#orderby{float:right;margin-right:170px;}



select{
		/*디폴트 제공 디자인값 제거.*/
		-moz-appearance: none;
		 -webkit-appearance: none;
		 appearance: none;
		 
	  text-align:center; 
	  font-size: 0.9rem;
	  font-weight: 400;
	  line-height: 1;
	
	  color: #444;/*select글자색*/
	  background-color:#fff;/*select 배경색*/
	
	  padding: 0.8em 0.8em 0.5em 0.8em;
	  margin: 0 15px 0 15px;
	
	  border: 1px solid #aaa;/*select 테두리색*/
	  border-radius: 0.5em;
	  box-shadow: 0 1px 0 1px #f0f0f0;

}

select:hover {
  border-color: #888;
}

select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

select:disabled {
  opacity: 0.5;
}	

 input{
	width:200px;height:32px;background:#f2eded; /*검색창 크기와 배경색*/
	border:1px solid #444;font-size:13px;
	color:black;
	padding-left:13px;
	margin:10px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
} 
input:hover, input:focus, input:active{
	outline:none;
	background: #ffffff;
	border-style:solid;
}


.search-icon{
	border:none;
	margin-top:10px;
	height:35px;width:35px;
	color:black;/*icon색*/
	font-size:18px;
	border-radius:100%;

	
}


#SORT{
	
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	
	padding:0.5rem 1rem;
	background:#fff;
	outline:none;
	font-size:0.9rem;
	text-align:center;
	text-decoration:none;
	
	width:auto;
	border:none;
	line-height: 1;
	
}
#SORT:hover{
	color:#e2e2e2;
	background-color:#4d4d4d;
}
	
button:hover, button:focus, button:active{
	color:black;
	outline:none;
	background: #f5f5f5;
	border-style:solid; 
}	


