/*
@import url("https://fonts.googleapis.com/css2?family=Hahmlet&family=Noto+Sans+KR&display=swap");	
	
	* {
		font-family: "Noto Sans KR", sans-serif;
	}
*/

@font-face {
    font-family: 'LeferiBaseType-RegularA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiBaseType-RegularA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
	
	 font-family: 'LeferiBaseType-RegularA';
}	
	body{padding-top:10px;}
	a {
		text-decoration: none;
		color: black;
	}
	
	a:hover {
		color: #CCCCCC;
	}
	
	div.nav {
		padding-top:7px;
		display: flex;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		justify-content: space-between;
		background-color: white;
		border-bottom: solid 1px #b3b3b3;
	}
	
	div.nav ul {
		list-style-type: none;
	}
	
	div.nav li {
		display: inline;
		font-size: 14px;
	}
	
	div.left {
		margin-left: 25px;
		margin-top: 6px;
		margin-bottom: auto;
		font-size: 20px;
		justify-content: left;
		text-align: left;
	}
	
	div.right {
		margin-left: auto;
		margin-bottom: 1px;
	}
	
	div.logo {
		align-items: center;
		justify-content: center;
		margin: 0px;
		padding: 20px;
		width: 100%;
	}
	
	img.logo {
		padding-top:3px;
		width: 21px;
		cursor: pointer;
	}
	
	
	/* header */
	
	footer {
		margin: 100px 0px 0px 0px;
	}
	
	div.footer {
		display: flex;
    	position: relative;
		height: 230px;
		bottom: 0;
		left: 0;
		right: 0;
		justify-content: flex-start;
		align-items: center;
		background-color: #e6e6e6;
	}
	
	div.footer_contents {
		font-size: 12px;
		margin-left: 40px;
	}
	
	img.footer_logo {
		width: 100px;
		margin-left: 30px;
	}