@charset "UTF-8";

@font-face {
    font-family: 'LeferiPoint-WhiteObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
	font-family: 'LeferiPoint-WhiteObliqueA';

}	
body{width:100%;height:100%;margin-top:55px;overflow:auto;}

.header{width:100%;height:100%;}
.container{width:100%;height:100%;}

.main_logo{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.search-box{
	position:relative;
	float:right;
	margin-right:150px;
	margin-top:10px;
}
 input#search{
 	float:left;
	width:180px;height:35px;background:#f2eded; /*검색창 크기와 배경색*/
	border:1px solid #444;font-size:14px;
	color:black;
	padding-left:13px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
} 
input#search:hover, input#search:focus, input#search:active{
	outline:none;
	background: #ffffff;
	border-style:solid;
}


.search-icon{
	border:none;
	height:35px;width:35px;top:20px; left:0;
	color:black;/* icon색 */
	font-size:12pt;
	background:#fff;
	border-radius:100%;
	
} 
button:hover, button:focus, button:active{
	color:black;
	outline:none;
	border-style:solid; 
}
#topMenu{
	height:50px;
	width:100%;
	margin-left:60px;
}
ul li:first-child{border-left:none;}
#topMenu ul li{
	display:inline;
	border-left:1px solid #fff;
	padding: 5px 10px 0 10px;
	margin:5px 0;
	list-style-type:none;
	color:white;
	background-color:#2d2d2d;
	float:left;/*li태그 들이 왼쪽에 흐르게설정(아래있는 내용은 오른쪽으로옴*/
	line-height:30px;/*글씨가 가운데로 오게 설정위해 한줄높이 30px 설정*/
	vertical-align:middle;/*세로정렬 가운데로 설정(line-height와 같이 설정필요)*/
	text-align:center;
}
.menuLink{
	text-decoration:none; /*topMenu 아이디를 가진 태그 안에있는menu클래스 태그들의 스타일 설정*/
	color:white;
	display:block;/*링크를 글씨가 있는 부분뿐아니라 전체 여역 클릭해서 링크 걸리도록설정*/
	width:135px;/*메뉴링크 넓이 설정*/
	font-size:15px;
	font-weight:bold;
}
.menuLink:hover{
	color:#e2e2e2;
	background-color:#4d4d4d;
}


 input{
	width:200px;height:35px;background:#f0f0f0; /*검색창 크기와 배경색*/
	border:none;font-size:10pt;
	color:black;
	padding-left:13px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
} 
input:hover, input:focus, input:active{
	outline:none;
	background: #ffffff;
	border-style:solid;
}


.search-icon{
	border:none;
	height:40px;width:40px;top:20px; 
	color:black;/*icon색*/
	font-size:14pt;
	
}
h2{text-align:center;
	font-size:2rem;
	color:gray;
}

table{
	width:90%;height:90%;
	margin:auto;
	text-align:center;
}
td{padding:20px;}



