/* @import url("https://fonts.googleapis.com/css2?family=Hahmlet&family=Noto+Sans+KR&display=swap");

	* {
		font-family: "Noto Sans KR", sans-serif;
	} */
	
	body {
		margin-top: 100px;
	}
	
	h2 {
		text-align: center;
	}
	
	table {
		border: 1px solid lightgray;
		border-collapse : collapse;
		margin-top: 20px;
		margin-bottom: 60px;
	}
	
	.wrap {
		width: 100%;
		height: 100%;
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background: rgba(0, 0, 0, 0);
		font-size: 17px;
		text-align: center;
	}
	
	div.vertical {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	
	div.leftVertical {
		flex-direction: column;
		text-align: left;
	}
	
	div.horizen {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
	}
	
	div.horizen div {
		margin: 0px 30px 0px 30px;
	}
	
	div.stdWidth {
		width: fit-content;
	}
	
	div.right {
		display: flex;
		align-items: center;
		justify-content: right;
	}
	
	div.width {
		width: 250px;
	}
	
	p a {
		text-decoration: underline;
	}
	
	p.label {
		font-size: 26px;
	}
	
	p.count {
		font-size: 30px;
		font-weight: bold;
	}
	
	p.contents {
		font-size: 14px;
	}
		
	tr.head {
		border: 1px solid lightgray;
		background-color: lightgray;
	}
	
	tr.button_tr {
		cursor: pointer;
	}
	
	tr.button_tr:hover {
		background-color: #CCCCCC;
	}
	
	th {
		padding: 10px;
	}
	
	td {
		padding: 22px 30px 15px 30px;
		border-bottom: 1px solid lightgray;
	}
	
	td img {
		width: 90px;
		height: 90px;
	}
	
	td.button_tr {
		cursor: pointer;
	}
	
	td.button_tr:hover {
		background-color: #CCCCCC;
	}
	
	td.next_td {
		font-size: 20px;
		font-weight: bold;
	}
	
	span.left {
		font-size: 26px;
		margin-top: 8px;
		margin-right: auto;
	}
	
	span.right {
		font-size: 16px;
		margin: 30px 10px 0px auto;
	}
	
	img.icon {
		margin: 0px 12px 0px 10px;
		width: 30px;
		height: 30px;
	}
	
	img.thumbnail {
		width: 110px;
		height: 110px;
		cursor: pointer;
	}
	
	#answer-btn {
		display: none;
	}

	#answer-btn:checked ~ .answer {
		display: block;
	}
	
	.answer-btn {
		cursor: pointer;
	}
	
	.answer-btn:hover {
		color: #CCCCCC;
	}
	 
	.answer {
		display: none;
	}
	
	.answer p.contents {
		margin-left: -30px;
	}
	