@charset "UTF-8";

/*폰트*/
@font-face {
    font-family: 'LeferiPoint-WhiteObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
	 font-family: 'LeferiPoint-WhiteObliqueA';
}

body{margin-top:50px;}
/*가운데정렬*/
table{
	text-align:center;
}
h1{font-size:50px;}
/*주문 금액 배송비 총금액 */
span{
	font-size:35px;
	text-align:left;
}

/*주문페이지*/
h1 {
	font-size:64px
}

/*thead&tbody*/
th,td{
	font-size:26px
}

/*주문자정보*/
h2{
	font-size:26px;
	text-align:left;
}

/*이름,핸드폰번호,받으시는분,우편번호,주소,버튼 전부*/
h6,input,button{
	font-size:24px
}

/*주문자 정보*/
.order_info input{
	text-align: left;
	color: black;
            width: 300px;
            height:50px;
            font-size: 26px;
            font-weight: 700;
          	border-top:none;
          	border-left:none;
          	border-right:none;
            border: 1;
            border-color:#787878;
            outline: 0;
}
.order_info h2{
	font-size:40px;
	text-align:left;
}
.order_info h6{
	font-size:26px;
	text-align:left;
}

/*주소 정보*/

.orderaddress input{

            color: black;
            width: 300px;
            height:50px;
            font-size: 26px;
            font-weight: 700;
          	border-top:none;
          	border-left:none;
          	border-right:none;
            border: 1;
            border-color:#787878;
            outline: 0;
}

.orderaddress h6{
	text-align:left;
}

.orderaddress input[type=button]{
			background-color: #aaaaaa;
			color: white;
            width: 150px;
            height:50px;
            font-size: 22px;
            font-weight: 700;
            border-radius: 6px;
            border: 0;
            border-color:grey;
            outline: 0;
}

.sum input{
	 color: black;
            width: 300px;
            height:50px;
            font-size: 26px;
            font-weight: 700;
          	border-top:none;
          	border-left:none;
          	border-right:none;
            border: 1;
            border-color:#787878;
            outline: 0;

}
.orderbtn button{
		background-color: #EB3232;
			color: white;
            width: 150px;
            height:50px;
            font-size: 26px;
            font-weight: 700;
            border-radius: 6px;
            border: 0;
            border-color:grey;
            outline: 0;
}


.orderbtn input{
	 color: black;
            width: 310px;
            height:50px;
            font-size: 24px;
            font-weight: 700;
          	border-top:none;
          	border-left:none;
          	border-right:none;
            border: 1;
            border-color:#787878;
            outline: 0;
}




















