@charset "UTF-8";

/*폰트*/
@font-face {
    font-family: 'LeferiPoint-WhiteObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
	 font-family: 'LeferiPoint-WhiteObliqueA';
}
/*가운데정렬*/
table{
	text-align:center;
}

/*thead&tbody*/
th,td{
	font-size:20px
}

/*주문조회*/
h1 {
	font-size:64px
}