@charset "UTF-8";

/*폰트*/
@font-face {
    font-family: 'LeferiPoint-WhiteObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
	 font-family: 'LeferiPoint-WhiteObliqueA';
	 
}

/*공통적으로 쓰는 css*/
table{
	margin:auto;
	border-collapse:separate;
	border-spacing: 0 20px;
}
input {
	border-top:none;
    border-left:none;
    border-right:none;
    border: 1;
    border-color:#787878;
	outline: 0;
}

/*버튼*/
.upbtn{
	text-align:center;
	background-color: #3296FF;
	color: white;
	width: 125px;
	height:50px;
	font-size: 20px;
	font-weight: 700;
	border-radius: 6px;
	border: 0;
	border-color:grey;
	outline: 0;

}

.delbtn{
	text-align:center;
	background-color: #EB3232;
	color: white;
	width: 125px;
	height:50px;
	font-size: 20px;
	font-weight: 700;
	border-radius: 6px;
	border: 0;
	border-color:grey;
	outline: 0;
}

.backbtn{
	text-align:center;
	background-color: #F2F0F0;
	color: black;
	width: 125px;
	height:50px;
	font-size: 20px;
	font-weight: 700;
	border-radius: 6px;
	border: 0;
	border-color:grey;
	outline: 0;
	
}