@charset "UTF-8";

a:link{color:black; text-decoration:none;}/* 방문하지 않은 링크 */
a:visited{color:puple; text-decoration:none;}/*방문했던 링크*/
a:hover{color:#cfcccc; text-decoration:none; border-radius:5px;}/*마우스가 올려진 링크*/
a:active{color:white; background-color:#cfcccc;border-radius:5px;}/*클릭하는 순간 링크*/

.box1{
	margin-right:30px;
	
}
#notice-list,#board-ad{/*공지사항*/
	background-color:#d1dce0;border-radius:5px;
	
	font-size:12pt;
}
#title-text2,#title-text1,#board-ad{
	margin-left:15px;
}
#title-text2{font-size:12pt;}


#mbtn{/*수정버튼*/
	background-color:#36b3e0;
	border-radius:5px;
	border-style:none;
	width:50px;height:30px;
	color:white;
}
#notice-add{/*공지추가버튼*/
	position:relative;
	left:92%;
	margin:5px;
	background-color:#36b3e0;
	border-radius:5px;
	border-style:none;
	width:70px;height:30px;
	color:white;
	font-size:10pt;
}

	div{overflow-x: auto;}
	table{
		top:10px;
		width: 99%;
		border-top:1px solid #444444;
		border-collapse:collapse;
		float: center;
		min-width:500px;
	}
	th,td{
		border-bottom: 1px solid #444444;
		padding: 10px;
		text-align: center;
	}
	th{background-color: #e6e3e3}
	td{text-align: center;}
	
/* 	input{
		vertical-align:middle;}
	input.img-button{
		background:url("img/search1.png")no-repeat;
		border:none;
		width:20px;
		height:20px;
		cursor:pointer;} 
 */
	
	
	
	
	
	
	
	
	
	
