@charset "UTF-8";
body{margin-top:40px;}


 label {

  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  color: #444;
  margin-right: 0.5em;
} 
/* 
form {
  display: flex;
  justify-content: center;
  align-items: center;

} */

/*검색창*/

.search-box2{
	position:relative;
	left:35%;right:0;top:25px;


}


/*목록*/
.membertb{margin-top:80px;}
 	table{
 		margin:10px;
		width: 100%;
		border:none;

		border-collapse:collapse;
		min-width:500px;
		text-align:center;
	}

	th
	{
		background-color: #e6e3e3; padding: 10px;
		border:none;
	    border-top: 2px solid #444444;
	    border-bottom: 2px solid #444444;
	}
	td
	{   
		text-align: center; 
	    border:none;
	    border-bottom: 1px solid #444444;
	    padding: 10px;
	}

.btn{
	position:relative;
	top:10px;left:40%;
	margin:20px;
	align-items:center;
	


}
/* 수정, 삭제버튼 */
button#mbtn2{

	border-radius:5px;
	border-style:none;
	font-size:15px;
	width:55px;height:40px;
	text-align: center;
	background-color:#36b3e0;
	color:white;
	
}
button#cancle2{/* 등록,취소*/
	margin:10px;
	border-radius:5px;
	border-style:none;
	font-size:15px;
	width:55px;height:40px;
	text-align: center;
	background-color:red;
	color:white;
}	

	
button#mbtn2:hover, button#mbtn2:focus, button#mbtn2:active{
	color:blue;
	outline:none;
	background: #d4f3ff;
	border-style:solid; 
}		
	
button#cancle2:hover, button#cancle2:focus, button#cancle2:active{
	color:#f56464;
	outline:none;
	background: #fcdede;
	border-style:solid; 
}








