@charset "UTF-8";
body{width:100%;height:100%;overflow:auto;margin-top:60px;}

/*adminnoticeUpdateForm */
input#n_title{border-radius:5px; padding:5px;font-size:15px;}

textarea{
		resize:none; /*사용자 임의 변경불가  both:모두가능,vertical:상하만,horizontal:좌우만가능*/
		width:400px; 
		height:280px; 
		border-radius:5px;
	 	position:relative;top:0;left:50%;margin-left:-170px;   
		/* vertical-align:middle; */ 

	}		
td{margin:5px 0;}
.fbtn{
	position:relative;
	top:10px;
	margin:20px;
	align-items:center;


}
button{
	background-color:#e6e6e6;
	border-radius:5px;
	border-style:none;
	width:55px;height:35px;
	color:black;
	font-size:16px;
	margin-left:25px;
}

button#b_btn{
	background-color:#e6e6e6;
	border-radius:5px;
	border-style:none;
	width:100px;height:35px;
	color:black;
	font-size:16px;
	margin-left:25px;
}	
button:hover, button:focus, button:active{
	color:black;
	outline:none;
	background: #f5f5f5;
	border-style:solid; 
}	 

button#b_btn:hover, button#b_btn:focus, button#b_btn:active{
	color:black;
	outline:none;
	background: #f5f5f5;
	border-style:solid; 
}	 

/*noticeDetail.jsp*/	 
button#back{
	background-color:#e6e6e6;
	border-radius:5px;
	border-style:none;
	width:80px;height:35px;
	color:black;
	font-size:14px;
	margin-left:25px;
}




















